# Data Cleaning

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os #listdir(path)

## Part 1 - ID and Rankings

In [2]:
# Import data
rank_df = pd.read_csv('../data/ranked_data.csv', index_col=0)
rank_df.head()

,id,name,collection_rank,geek_rating,avg_rating,num_voters,price
0,174430,Gloomhaven,1,8.529,8.76,45590,$107.99
1,161936,Pandemic Legacy: Season 1,2,8.452,8.60,43674,$79.99
2,224517,Brass: Birmingham,3,8.409,8.67,23026,$89.95
3,167791,Terraforming Mars,4,8.279,8.42,70383,$49.31
4,291457,Gloomhaven: Jaws of the Lion,5,8.262,8.75,13053,$34.93

In [3]:
# Check for nulls in first 3 columns
rank_df.isnull().sum()

id                 0
name               0
collection_rank    0
geek_rating        0
avg_rating         0
num_voters         0
price              0
dtype: int64

In [4]:
# Drop duplicates
rank_df = rank_df.drop_duplicates()

## Part 2 - Categorical data

In [2]:
# Get categorical data
cat_df = pd.read_csv('../data/cat_data.csv', index_col=0)

In [71]:
# Check for nulls
cat_df.iloc[:,:9].isnull().sum()

id             0
name           0
year           0
min_players    0
max_players    0
playtime       0
min_time       0
max_time       0
min_age        0
dtype: int64

In [72]:
# Drop excess categories
try:
    stop = cat_df.columns.get_loc('mech_1')
    cat_df = cat_df.iloc[:,:stop]
except:
    pass

In [73]:
# Fill nulls
cat_df = cat_df.fillna('N/A')

In [95]:
# Create column with list of categories
cat_df['categories'] = cat_df.iloc[:,9:14].values.tolist()

## Part 3 - Aggregating User Data

In [8]:
# Import dataframe
df = pd.read_csv('../data/user_ratings.csv')

In [9]:
def agg_ratings():
    # Create directory path
    data_path = '../data/game_ratings/'

    # Get files
    files = os.listdir(data_path)

    # Import and concat all csvs
    df = pd.DataFrame()

    # Go through csvs
    for file in files:
        new = pd.read_csv(data_path+file, index_col=0)
        df = pd.concat([df, new], ignore_index=True)
    
    return df

In [10]:
def agg_ratings2(data):
    # Create directory path
    data_path = '../data/game_ratings2/'

    # Get files
    files = os.listdir(data_path)

    # Go through csvs
    for file in files:
        new = pd.read_csv(data_path+file, index_col=0)
        data = pd.concat([data, new], ignore_index=True)
    
    return data

# # Fill last of df
# df = agg_ratings2(df)

In [11]:
def user_clean(data):
    # Drop Unnamed: 0 column
    data.drop('Unnamed: 0', axis = 1, inplace=True)

    # Drop value column
    data.drop('value', axis = 1, inplace=True)

    # Drop all nulls and duplicates
    data = data.dropna().drop_duplicates()

    # Change users to categorical numbers
    data['username'] = data['username'].astype('category').cat.codes
    
    return data

In [12]:
# Check for nulls
df.isnull().sum()

Unnamed: 0    0
id            0
username      0
rating        0
game          0
rank          0
dtype: int64

In [13]:
# Check how many games there are
len(df['id'].unique())

2008

In [14]:
# Is there user overlap?
print(len(df), len(df['username'].unique()))
df['username'].value_counts()

12638466 361223

321661    1881
78691     1867
276979    1765
169679    1484
169842    1462
          ...
161422       1
153226       1
75889        1
305345       1
0            1
Name: username, Length: 361223, dtype: int64

In [15]:
# Get game names
names = pd.read_csv('../data/ranked_data.csv', index_col=0)
name_to_id = dict(zip(names['id'], names['name']))
rank_to_id = dict(zip(names['id'], names['collection_rank']))

In [17]:
# Create list relating names to id
game_names = [name_to_id[game_id] for game_id in df['id']]
game_ranks = [rank_to_id[game_id] for game_id in df['id']]
df['game'] = game_names
df['rank'] = game_ranks

## Part 4 - Final Check

In [18]:
# Check for any absent ids that need to be gathered
print(len(set(cat_df['id'])))
print(len(set(df['id'])))
remove = list(set(cat_df['id']) - set(df['id']))

2020
2008

Since the user data is the one with less ids than the categorical data, all necessary user games are accounted for.

In [108]:
# Export data
# rank_df.to_csv('../data/ranked_data.csv')
# cat_df.to_csv('../data/cat_data.csv')
# df.to_csv('../data/user_ratings.csv')